* {
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}
.abc{
  text-align: center;
  font-style: italic;
}
.h1 {
  color: whitesmoke;
  text-align: center;
  padding: 20px;
  margin: 10px;
}
.h2{
  color: white;
  text-align: center;
  padding: 20px;
  margin: 10px
}
main {
  display:flex;
  flex-wrap:nowrap;
  justify-content: flex-start;
  align-items: stretch;
  gap: 20px;
  padding: 20px;
}
.contestant {
  background-image: linear-gradient( rgba(255,0,0,0),rgb(31, 27, 27));
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  width: 250px;
}

.contestant img {
  max-width: 100%;
  border-radius: 100%;
}

h2 {
  margin-top: 10px;
}
.vote-button {
  background-color: purple;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.vote-button:hover {
  background-color: #e64a19;
}
.vote {
  width: 100%;
  height: 50px;
  padding: 5px;
  border: 2px solid black;
  background-color: rgb(220, 216, 226);
  border-radius: 8px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}

.vote {
  width: 100%;
  height: 50px;
  padding: 5px;
  margin: 12px auto;
  border: 2px solid black;
  background-color: rgb(205 233 55);
  border-radius: 8px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}
.votes {
  margin-left: 35px;
  font-size: 20px;
  color: white;
  font-weight: bold;
}
.contestant {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
}
#showResult:hover {
  color: rgb(222, 222, 17);
}
#showResult {
  width: 50%;
  height: 150px;
  padding: 7px;
  align-items: center;
  margin: auto;
  border: 2px solid black;
  background-color: #e6ed0ad1;
  border-radius: 10px;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
}
@media (max-width: 768px) {
  .contestant {
    width: 75%;
  }
}